.fourth-section {
    width: 100%;
    background-image: url(../images/main6.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
  }
  
  .fourth-content {
   @include center-all;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
  }
  
  .fourth-content h2 {
    @include heading-white;
  }
  
  .fourth-content h1 {
    color: white;
    font-family: "work sans";
  
    font-weight: $wait1;
   
    @include font-setting(3.5rem, 56px); 
  }
    button.contact {
      font-size: 1.2rem;
      font-weight: $wait1;
      font-family: "work sans";
      color: black;
      border-radius: 50px;
      background-color: #f49e44;
      border: 1px solid #f49e44;
      padding: 0.5rem 2rem;
      @include button-base;
      @include button-hover-effect;
    }
