.hero-section {
  @include center-all;
  background-color: $bg-main1;
  flex-direction: column;
}

.hero-content {
  @include center-all;
  padding-top: 8rem;
  max-width: 1200px;
}

.left-content h2 {
  margin: 1rem 0rem;
  font-weight: $wait;
  @include font-setting(1.2rem, 32px); 
  font-weight: $wait1;
  font-family: "work sans";
 
  text-transform: uppercase;
  color: white;
  animation: fadeIn 4s ease-in-out;
}

.left-content h1 {
  font-weight: $wait;
  @include font-setting(4rem, 70px); 
  font-family: "work sans";
  font-weight: $wait1;
 
  color: white;
  animation: fadeIn 4s ease-in-out;
}

.buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 3rem 0rem;
  animation: fadeIn 4s ease-in-out;
}
button.contact {
  font-size: 1.2rem;
  font-weight: $wait1;
  font-family: "work sans";
  @include color-border(black, 50px);
  background-color: #f49e44;
  border: 1px solid #f49e44;
  padding: 0.5rem 2rem;

  @include button-base;
  @include button-hover-effect;
}

.buttons h3 {
  font-weight: $wait;
  @include font-setting(1.2rem, 32px);
  @include color-border(white, 6px);

  font-family: "work sans";
  padding: 0.3rem;
  transition: all 0.3s ease 0s;
  margin: 0rem 1rem;
}
  .buttons h3:hover {
    background-color: #ef634D;
    @include color-border(white, 50px);
    font-size: 1rem;
 
    transition: all 0.3s ease 0s;
}



.right-content img {
  width: 100%;
  height: 100%;
  animation: slideIn 1s ease-in-out;
  
}

.transparent-text {
  @include center-all;
}

.transparent-text h1 {
  width: 100%;
  height: 100%;
  margin: 0rem;
  padding: 0rem;
  font-size: 24.8vw;
  text-align: center;
  color: #7d72dd;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -9rem;
}


@media (min-width: 2560px){
  .transparent-text h1{
    font-size: 14vw;
  }
}