@media (max-width: $screen-m0) {
  // header {
  //   justify-content: space-around;
  //   padding: 1rem;
  //   margin: 0;
  // }
  // .navbar {
  //   gap: 22rem;
  // }
  // ul.nav-item,
  // .social-icons {
  //   display: none;
  // }
  // label.toggle {
  //   display: block;
  //   color: white;
  //   background-color: rgba(255, 255, 255, 0.1411764706);
  //   border-radius: 20px;
  //   padding: 0.4rem 0.7rem;
  //   font-size: 1rem;
  // }


  .navbar {
    gap: 23rem;
  }

  .nav-item {
    display: none;
  }

  label.toggle {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
  }

  .social-icons {
    display: none;
  }
  
  // .navbar {
  //   position: relative;
  //   padding: 1rem;
  // }

  // .nav-item,
  // .social-icons {
  //   display: none;
  // }

  // label.toggle {
  //   display: block;
  // }

  // #toggle-checkbox {
  //   display: none;
  // }

  // // Sidebar styles
  // .nav-overlay {
  //   display: none; // Hide by default
  //   flex-direction: column;
  //   width: 75%;
  //   background-color: $bg-main1; // Background color for the sliding menu
  //   padding: 1rem;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   height: 100vh; // Full height for the sliding effect
  //   transform: translateX(-100%); // Start position off-screen
  //   transition: transform 0.3s ease-in-out; // Slide-in animation
  //   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  //   z-index: 100;
  //   backdrop-filter: blur(5px); // Blur effect on the right side
  // }

  // #toggle-checkbox:checked ~ .nav-overlay {
  //   display: flex;
  //   transform: translateX(0); // Slide-in to visible
  // }

  // // Show close button when menu is visible
  // #toggle-checkbox:checked ~ .nav-overlay .close-btn {
  //   display: block;
  // }

  // .nav-overlay .nav-item,
  // .nav-overlay .social-icons {
  //   display: none; // Hide by default
  // }

  // // Show nav items or social icons based on the state
  // #toggle-checkbox:checked ~ .nav-overlay .nav-item {
  //         display: flex;
  //         flex-direction: column;
  //         align-items: center;
  //         gap: 1rem;
  //         padding-top: 4rem;

  // }

  // #toggle-checkbox:checked ~ .nav-overlay .social-icons {
  //   display: flex;
  //   justify-content: center;
  // }

  // .nav-overlay .nav-item {
  //   color: white;
  //   margin-top: 1rem;
  // }

  // .nav-overlay .social-icons {
  //   margin-top: 1rem;
  // }



  .hero-content {
    flex-direction: column;
    padding: 8rem 1rem;
  }
  .left-one {
    width: auto;
  }
  .right-one {
    width: auto;
    padding-bottom: 8rem;
  }
  .left-content h1 {
    font-size: 2.9rem;
    line-height: 55px;
    margin: 0rem;
  }
  .buttons {
    margin: 1.5rem 0rem;
  }
  .transparent-text h1 {
    // font-size: 5rem;
  }
  .right-one {
    width: auto;
    padding: 0;
  }

  .right-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0rem 1rem;
  }

  .second-section {
    padding: 4rem 1rem;
  }

  .second-content {
    padding: 2rem 1rem;
    flex-direction: column;
    margin-top: -8rem;
  }

  .left-two img {
    display: none;
  }

  .left-two-mobile img {
    display: block;
  }
  .left-two-mobile img {
    height: 100%;
    width: 100%;
  }

  .right-two {
    padding: 2rem 0rem 0rem 0rem;
  }

  .right-two h3 {
    font-size: 2rem;
    line-height: 40px;
    padding-right: 2rem;
  }
  .three-col {
    padding: 2rem 0rem 0rem 0rem;
  }
  .branding {
    align-items: start;
    gap: 1rem;
  }

  .info h2 {
    margin: 0;
    font-size: 1.2rem;
    line-height: 25px;
  }

  .third-section {
    padding: 0;
    margin: 0;
  }
  .third-content {
    padding: 1rem;
    flex-direction: column;
  }

  .third-left h6 {
    padding: 0;
  }

  .third-left h3 {
    padding: 1rem 0rem;
  }

  .bars {
    margin: 6rem 0rem;
    gap: 4.4rem;
    justify-content: center;
  }
  .third-left {
    padding: 0;
    width: 100%;
  }

  .third-right {
    padding: 1rem;
  }

  .fourth-content {
    gap: 1rem;
    padding: 3rem;
    padding: 5rem 1rem;
  }

  .fourth-content h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 40px;
  }

  button.contact {
    margin: 1rem 0rem;
  }

  .fifth-content {
    padding: 1rem;
  }

  .heading {
    display: block;
    padding-right: 2rem;
  }

  .heading h2 {
    font-size: 2.5rem;
    line-height: 45px;
    padding: 1rem 0rem;
  }

  .boxes {
    margin: 3rem 0rem;
  }
  .fifth-box {
    flex-direction: column;
  }

  .box-content-info h2 {
    font-size: 2rem;
    line-height: 40px;
    padding: 2rem 0rem;
  }

  .box-content-right1,
  .box-content-right2 {
    padding: 2rem;
    display: none;
  }

  .box-content img {
    width: 100%;
    height: 100%;
  }
  .box-content-right1 img {
    width: 100%;
    height: 100%;
  }

  .six-section {
    padding: 1rem;
  }

  .six-content {
    padding: 4rem 0rem;
    flex-direction: column;
  }

  .six-left h3 {
    font-size: 2.5rem;
    line-height: 45px;
    padding-bottom: 2rem;
  }
  .six-left {
    padding: 2rem 0rem;
  }
  .marketing {
    padding-bottom: 1rem;
    align-items: start;
  }

  .market p {
    font-size: 1rem;
  }

  .seven-content {
    flex-direction: column;
    padding: 5rem 1rem;
  }

  .seven-right {
    padding-top: 2rem;
  }
  .seven-right h3 {
    font-size: 2rem;
    line-height: 40px;
  }
  img.overlap {
    display: none;
  }

  .e-section {
    padding: 0;
  }
  .e-content {
    padding: 4rem 1rem;
  }

  .e-heading {
    gap: 2rem;
  }

  .e-heading h2 {
    font-size: 2rem;
    line-height: 45px;
    padding: 0;
    margin: 0;
  }

  button.e-view-all {
    margin: 2rem 0rem;
  }

  .e-boxes-1 {
    flex-direction: row;
  }
  .e-boxes-2,
  .e-boxes-3 {
    display: none;
  }

  .e-content-info p {
    padding: 2rem 2rem 2rem 0rem;
    text-align: justify;
  }

  .c-section {
    padding: 3rem 0rem;
  }
  .card-content {
    padding: 1rem;
  }

  .card-content h2 {
    font-size: 2rem;
    padding: 2rem 0rem;
  }
  .cd-content-section {
    flex-direction: column;
    gap: 2rem;
  }

  .cd,
  .cd-2 {
    padding: 4rem 5rem;
  }
  .cd-content button a,
  .card-content-2 button a {
    font-size: 1rem;
  }

  .contact-content {
    flex-direction: column;
    padding: 6rem 1rem;
  }
  .contact-left {
    padding: 0;
  }
  .contact-left {
    padding-bottom: 4rem;
  }
  .contact-left h3 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
    line-height: 40px;
  }

  .contact-third-right img {
    height: 100%;
    width: 100%;
    padding-bottom: 4rem;
  }

  .news-letter {
    flex-direction: column;
    gap: 4rem;
  }

  .news-content h1 {
    font-size: 2.5rem;
  }

  .news-input {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-content {
    padding: 0rem 2rem;
    flex-direction: column;
  }
  .footer-content {
    padding: 1rem;
    gap: 3rem;
  }
  .f-one p {
    padding: 1rem 0rem;
  }
  .f-bottom {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .f-bottom p {
    padding: 1rem 0rem;
    text-align: center;
  }
}
