.c-section {
    width: auto;
    height: 100%;
    margin: auto;
   @include space-around;
    flex-direction: column;
    background-color: #f6f1ed;
    gap: 1.5rem;
    padding: 4rem 0rem 5rem 0rem;
  }
  .card-content {
   @include column;

  }
  
  .card-content h3 {
    @include heading-top;
  }
  
  .card-content h2 {
    @include heading-h2;
    padding: 1.5rem 0rem;
  }
  .cd-content-section {
    @include center-all;
    gap: 2rem;
  }
  .cd {
    // width: 300px;
    height: auto;
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 4rem 6rem;
    transition: transform 0.3s;
  }
  
  .cd:hover {
    transform: scale(1.05);
  }
  
  .card-title h2 {
    color: #333333;
    @include font-setting(1.2rem, 32px); 
    font-weight: $wait1;
    font-family: "Work Sans";
    text-transform: uppercase;
  }
  
  .card-title p {
   
    color: #333333;
    @include font-setting(3.5rem, 64px); 
    font-weight: $wait1;
    font-family: "Work Sans";
    padding: 1rem 0rem;
  }
  
  .cd-content ul li {
    color: #333333;
 
    font-weight: $wait;
    font-family: "Work Sans";
    @include font-setting(1rem, 32px); 
  }
  
  .cd-content ul li i {
    margin-right: 4px;
  }
  
  .cd-content button {
    border-radius: 50px;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    padding: 0.5rem 2rem;
    margin: 1rem 0rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .cd-content button:hover {
    background: #f49e44;
  }
  
  .cd-content button a {
    font-size: 1.2rem;
    font-weight: $wait1;
    color: #f49e44;
    font-family: "work sans";
  }
  .cd-content button a:hover {
    color: white;
  }
  
  .cd-2 {
    // width: 300px;
    height: auto;
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 4rem 6rem;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 15px;
    transition: transform 0.3s;
  }
  
  .cd-2:hover {
    transform: scale(1.05);
  }
  
  .card-title-2 h2 {
    color: #333333;
  @include font-setting(1.2rem, 32px); 
    font-weight: $wait1;
    font-family: "Work Sans";
    text-transform: uppercase;
  }
  .cd-2 h4 {
    color: #f49e44;
    font-weight: $wait1;
    font-family: "Work Sans";
    @include font-setting(1.2rem, 32px); 
    text-align: right;
  }
  
  .card-title-2 p {
    @include font-setting(3.5rem, 64px); 
    color: #333333;

    font-weight: $wait1;
    font-family: "Work Sans";
    padding: 1rem 0rem;
  }
  
  .card-content-2 ul li {
    color: #333333;
  
    font-weight: $wait;
    font-family: "Work Sans";
    @include font-setting(1rem, 32px); 
  }
  
  .card-content-2 ul li i {
    margin-right: 4px;
  }
  
  .card-content-2 button {
    border-radius: 50px;
    background-color: #f49e44;
    border: 1px solid #f49e44;
    padding: 0.5rem 2rem;
    margin: 1rem 0rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .card-content-2 button:hover {
    background: #f49e44;
  }
  
  .card-content-2 button a {
    font-size: 1.2rem;
    font-weight: $wait1;
    color: white;
    font-family: "work sans";
  }
  