@import "variables";
@import "mixin";
@import "fontWeight";
@import 'animations';
@import "header";
@import "hero";
@import "second";
@import "third";
@import "fourth";
@import "fifth";
@import "six";
@import "seven";
@import "pricing";
@import "feedback";
@import "contact";
@import "footer";


* {
@include body;
}
// html{
//  font-size: 62.5%;
// }
body {
 @include body-1;
}

.main-container {
  display: flex;
  flex-direction: column;
}



@media (max-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .nav-item {
    gap: 2rem;
}

.hero-content {
  padding: 7rem 5rem;
}
.transparent-text h1 {
  font-size: 16rem;
}
  .left-content h1 {
    font-size: 3rem;
    font-family: "work sans";
    font-weight: bold;
    line-height: 55px;
    text-transform: capitalize;
    color: white;
  }

  .third-left h3 {
    color: #333333;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 45px;
  }

  .third-content {
    padding: 0rem 2rem;
  }
  .fourth-section {
    padding: 0rem;
  }
  .fourth-content h1 {
    font-size: 2.5rem;
  }

  .boxes {
    flex-wrap: wrap;
  }
  .six-section {
    padding: 0rem;
  }

  .six-content {
    padding: 0rem 2rem;
  }
  .seven-left {
    padding: 1rem;
  }
.seven-right{
  padding: 1rem;
  width: 80%;
}
img.overlap {
  position: relative;
  right: -24rem;
}
  .e-section {
    padding: 4rem;
  }

  .c-section {
    padding: 2rem;
  }
  .cd,
  .cd-2 {
    padding: 4rem 4rem;
  }
  .cd-content button a {
    font-size: 1rem;
  }

  .card-content-2 button a {
    font-size: 1rem;
  }

  .contact-content {
    padding: 4rem 2rem;
  }

  .news-letter {
    gap: 7rem;
  }
  .news-content h1 {
    font-size: 2.5rem;
  }
  .footer {
    padding-top: 8rem;
  }
  .footer-content {
    padding: 0rem 2rem;
  }
  .f-bottom {
    justify-content: space-between;
    gap: 5rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1rem;
  }
  .nav-item {
    gap: 1rem;
  }
  .navbar {
    gap: 2rem;
  }
  .hero-content {
    padding: 6rem 2rem;
}

  .left-one {
    width: 100%;
  }

  .left-content h1 {
    font-size: 2rem;
    line-height: 40px;
  }
  .buttons {
    margin: 2rem 0rem;
  }

  button.contact {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .transparent-text h1 {
    font-size: 12rem;
}

  .right-two h3 {
    font-size: 2.5rem;
    line-height: 45px;
  }
  .second-section {
    padding: 4rem 2rem;
  }
  .second-content {
    margin-top: -8rem;
    padding: 3rem;
  }
  .left-two img {
    padding: 1rem;
    height: 100%;
    width: 100%;
  }
  .left-two {
    padding: 0;
  }

  .right-two h3 {
    font-size: 2rem;
    line-height: 38px;
  }
  .branding {
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  .branding img {
    padding: 1rem;
    height: 50px;
  }
  .info h2 {
    margin-top: 0rem;
    font-size: 1.2rem;
    line-height: 25px;
  }

  .info p {
    line-height: 25px;
    padding: 1rem 0rem;
  }

  .third-left {
    padding: 0;
    /* width: auto; */
  }

  .bars {
    gap: 1rem;
  }
  .fourth-content {
    gap: 0rem;
    padding: 3rem;
  }

  .fourth-section {
    padding: 0rem;
  }
  .fourth-content h1 {
    font-size: 1.5rem;
  }
  .heading {
    margin: 0;
  }
  .heading h2 {
    font-size: 2.5rem;
  }

  .boxes {
    margin: 1rem 0rem;
  }

  .box-content-right1, .box-content-right2 {
display: none;
}
  .box-content-info h2 {
    font-size: 2rem;
    line-height: 0;
    padding: 2rem 0rem;
  }

  button.view-all {
    font-size: 1rem;
   
}
  button.read-more {
    font-size: 1rem;
    margin: 1rem 0rem;
  }
  .six-section {
    padding: 0rem;
  }
  .six-content {
    padding: 2rem;
  }
  .six-left {
    padding: 0;
  }
  .six-left h3 {
    font-size: 2.5rem;
    line-height: 40px;
  }

  button.explore {
    font-size: 1rem;
    margin: 1rem 0rem;
  }

  .seven-content {
    padding: 2rem;
  }
  .seven-left {
    padding: 1rem;
  }
.seven-right{
  padding: 0rem;
  width: 80%;
}
  .seven-right h3 {
    font-size: 2.5rem;
    line-height: 40px;
  }

  button.e-view-all {
    font-size: 1rem;
  }

  img.overlap {
    position: relative;
    right: -6rem;
  }
  .e-heading h2 {
    font-size: 2.5rem;
    line-height: 0;
  }
  .box-content-info p {
    padding: 1rem 0rem;
  }
  .e-boxes-2 .e-icon,
  .e-boxes-3 .e-icon {
    padding: 1rem 0rem;
  }

  .card-content h2 {
    font-size: 2.5rem;
    line-height: 0;
  }

  .cd,
  .cd-2 {
    padding: 2rem 3rem;
  }
  .cd-content button a {
    font-size: 0.6rem;
  }
  .card-content-2 button a {
    font-size: 0.6rem;
  }

  .contact-content {
    padding: 6rem 1rem;
  }

  .contact-left h3 {
    font-size: 2.5rem;
    padding: 0;
    line-height: 40px;
  }

  .contact-left {
    padding: 2rem;
  }
.contact-third-right img{
  height: 100%;
  width: 100%;
}

  button.submit {
    width: 50%;
    font-size: 1rem;
  }
  .news-letter {
    gap: 3rem;
    padding: 1rem;
  }

  .news-content h1 {
    font-size: 2rem;
    line-height: 30px;
  }

  button.subscribe {
    font-size: 1rem;
  }

  .footer-content {
    padding: 2rem;
    gap: 4rem;
  }
}

@media (max-width: 320px) {
  header {
    justify-content: space-around;
    padding: 1rem;
    margin: 0;
  }
  .navbar {
    gap: 6rem;
  }
  ul.nav-item,
  .social-icons {
    display: none;
  }
  label.toggle {
    display: block;
    color: white;
    background-color: rgba(255, 255, 255, 0.1411764706);
    border-radius: 20px;
    padding: 0.4rem 0.7rem;
    font-size: 1rem;
  }

  .hero-content {
    flex-direction: column;
    padding: 8rem 1rem;
  }
  .left-one {

    width: auto;
  }
  .right-one {
    width: auto;
    padding-bottom: 8rem;
  }
  .left-content h1 {
    font-size: 2.9rem;
    line-height: 55px;
    margin: 0rem;
  }
  .buttons {
    margin: 1.5rem 0rem;
  }

  .right-one {
    width: auto;
    padding: 0;
  }

  .right-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0rem 1rem;
  }

  .second-section {
    padding: 4rem 1rem;
  }

  .second-content {
    padding: 2rem 1rem;
    flex-direction: column;
    margin-top: -10rem;
}

  .left-two img {
    display: none; 
  }

  .left-two-mobile img{
    display: block; 
  }
  .left-two-mobile img {
    height: 100%;
    width: 100%;
  }

.right-two{
  padding: 2rem 0rem 0rem 0rem;
}

.right-two h3 {
  font-size: 2rem;
  line-height: 40px;
  padding-right: 2rem;

}
.three-col{
  padding: 2rem 0rem 0rem 0rem ;
}
.branding {
  align-items: start;
  gap: 1rem;
}

.info h2 {
  margin: 0;
  font-size: 1.2rem;
  line-height: 25px;
}


  .third-section {
    padding: 0;
    margin: 0;
  }
  .third-content {
    padding: 0rem;
    flex-direction: column;
  }

  .third-left h6 {
    padding: 0;
  }

  .bars {
    gap: 0rem;
  }
  .third-left {
    padding: 0;
    width: 100%;
  }

  .third-right{
    padding: 1rem;
  }
  


  .fourth-content {
    gap: 1rem;
    padding: 3rem;
    padding: 5rem 1rem;
  }

  .fourth-content h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 40px;
  }

  button.contact {
    margin: 1rem 0rem;
  }

  .fifth-content {
    padding: 1rem;
  }

  .heading {
    display: block;
    padding-right: 2rem;
  }

  .heading h2 {
    font-size: 2.5rem;
    line-height: 45px;
    padding: 1rem 0rem;
  }

  .boxes {
    margin: 3rem 0rem;
  }
  .fifth-box {
    flex-direction: column;
  }

  .box-content-info h2 {
    font-size: 2rem;
    line-height: 40px;
    padding: 2rem 0rem;
  }

  .box-content-right1,
  .box-content-right2 {
    padding: 2rem;
    display: none;
  }

  .box-content img {
    width: 100%;
    height: 100%;
  }
  .box-content-right1 img {
    width: 100%;
    height: 100%;
  }

  .six-section {
    padding: 1rem;
  }

  .six-content {
    padding: 4rem 0rem;
    flex-direction: column;
  }

  .six-left h3 {
    font-size: 2.5rem;
    line-height: 45px;
    padding-bottom: 2rem;
  }
  .six-left {
    padding: 0rem;
  }
  .marketing {
    padding-bottom: 1rem;
    align-items: start;
  }

  .market p {
    font-size: 1rem;
  }

  .seven-content {
    flex-direction: column;
    padding: 5rem 1rem;
  }

  .seven-right {
    padding-top: 2rem;
  }
  .seven-right h3 {
    font-size: 2rem;
    line-height: 40px;
  }

  .e-section {
    padding: 0;
  }
  .e-content {
    padding: 4rem 1rem;
  }

  .e-heading {
    gap: 2rem;
    display: block;
  }

  .e-heading h2 {
    font-size: 2rem;
    line-height: 45px;
    padding: 0;
    margin: 0;
  }

  button.e-view-all {
    margin: 2rem 0rem;
  }

  .e-boxes-1 {
    flex-direction: column;
  }
  .e-boxes-2,
  .e-boxes-3 {
    display: none;
  }

  .e-content-info {
    padding: 5rem 0rem;
  }

  .e-content-info p {
    padding: 2rem 2rem 2rem 0rem;
    text-align: justify;
  }

  .c-section {
    padding: 3rem 0rem;
  }
  .card-content {
    padding: 1rem;
  }

  .card-content h2 {
    font-size: 2rem;
    padding: 2rem 0rem;
  }
  .cd-content-section {
    flex-direction: column;
    gap: 2rem;
  }

  .cd,
  .cd-2 {
    padding: 4rem 5rem;
  }
  .cd-content button a,
  .card-content-2 button a {
    font-size: 1rem;
  }

  .contact-content {
    flex-direction: column;
    padding: 6rem 1rem;
  }
  .contact-left {
    padding: 0;
  }
  .contact-left {
    padding-bottom: 4rem;
  }
  .contact-left h3 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
    line-height: 40px;
}

  .contact-third-right img{
   
    height: 100%;
    width: 100%;
    padding-bottom: 4rem;
}
  

  .news-letter {
    flex-direction: column;
    gap: 0rem;
    padding: 3rem 1rem 2rem 1rem;
}

  .news-content h1 {
    font-size: 2.5rem;
  }

  .news-input {
    flex-direction: column;
  }

  .footer-content {
    padding: 0rem 2rem;
    flex-direction: column;
  }
  .footer-content {
    padding: 1rem;
    gap: 3rem;
  }
  .f-one p {
 
    padding: 1rem 0rem;
}
  .f-bottom {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .f-bottom p {
    padding: 1rem 0rem;
    text-align: center;
  }
}




@media (max-width: 375px) {
  header {
    justify-content: space-around;
    padding: 1rem;
    margin: 0;
  }
  .navbar {
    gap: 6rem;
  }
  ul.nav-item,
  .social-icons {
    display: none;
  }
  label.toggle {
    display: block;
    color: white;
    background-color: rgba(255, 255, 255, 0.1411764706);
    border-radius: 20px;
    padding: 0.4rem 0.7rem;
    font-size: 1rem;
  }

  .hero-content {
    flex-direction: column;
    padding: 8rem 1rem;
  }
  .left-one {

    width: auto;
  }
  .right-one {
    width: auto;
    padding-bottom: 8rem;
  }
  .left-content h1 {
    font-size: 2.9rem;
    line-height: 55px;
    margin: 0rem;
  }
  .buttons {
    margin: 1.5rem 0rem;
  }

  .right-one {
    width: auto;
    padding: 0;
  }

  .right-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0rem 1rem;
  }

  .second-section {
    padding: 4rem 1rem;
  }

  .second-content {
    padding: 2rem 1rem;
    flex-direction: column;
    margin-top: -10rem;
}

  .left-two img {
    display: none; 
  }

  .left-two-mobile img{
    display: block; 
  }
  .left-two-mobile img {
    height: 100%;
    width: 100%;
  }


.right-two{
  padding: 2rem 0rem 0rem 0rem;
}

.right-two h3 {
  font-size: 2rem;
  line-height: 40px;
  padding-right: 2rem;

}
.three-col{
  padding: 2rem 0rem 0rem 0rem ;
}
.branding {
  align-items: start;
  gap: 1rem;
}

.info h2 {
  margin: 0;
  font-size: 1.2rem;
  line-height: 25px;
}


  .third-section {
    padding: 0;
    margin: 0;
  }
  .third-content {
    padding: 1rem;
    flex-direction: column;
  }

  .third-left h6 {
    padding: 0;
  }

  .bars {
    gap: 0rem;
  }
  .third-left {
    padding: 0;
    width: 100%;
  }

  .third-right{
    padding: 1rem;
  }
  


  .fourth-content {
    gap: 1rem;
    padding: 3rem;
    padding: 5rem 1rem;
  }

  .fourth-content h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 40px;
  }

  button.contact {
    margin: 1rem 0rem;
  }

  .fifth-content {
    padding: 1rem;
  }

  .heading {
    display: block;
    padding-right: 2rem;
  }

  .heading h2 {
    font-size: 2.5rem;
    line-height: 45px;
    padding: 1rem 0rem;
  }

  .boxes {
    margin: 3rem 0rem;
  }
  .fifth-box {
    flex-direction: column;
  }

  .box-content-info h2 {
    font-size: 2rem;
    line-height: 40px;
    padding: 2rem 0rem;
  }

  .box-content-right1,
  .box-content-right2 {
    padding: 2rem;
    display: none;
  }

  .box-content img {
    width: 100%;
    height: 100%;
  }
  .box-content-right1 img {
    width: 100%;
    height: 100%;
  }

  .six-section {
    padding: 1rem;
  }

  .six-content {
    padding: 4rem 0rem;
    flex-direction: column;
  }

  .six-left h3 {
    font-size: 2.5rem;
    line-height: 45px;
    padding-bottom: 2rem;
  }
  .six-left {
    padding: 0rem;
  }
  .marketing {
    padding-bottom: 1rem;
    align-items: start;
  }

  .market p {
    font-size: 1rem;
  }

  // .six-right img{
  //   display: none;
  // }
  //   .six-right-mob img{
  //     height: 100%;
  //     width: 100%;
  //   }
  //   .six-right-mob img{
  // display: block;
  //   }

  .seven-content {
    flex-direction: column;
    padding: 5rem 1rem;
  }

  .seven-right {
    padding-top: 2rem;
  }
  .seven-right h3 {
    font-size: 2rem;
    line-height: 40px;
  }

  .e-section {
    padding: 0;
  }
  .e-content {
    padding: 4rem 1rem;
  }

  .e-heading {
    gap: 2rem;
    display: block;
  }

  .e-heading h2 {
    font-size: 2rem;
    line-height: 45px;
    padding: 0;
    margin: 0;
  }

  button.e-view-all {
    margin: 2rem 0rem;
  }

  .e-boxes-1 {
    flex-direction: column;
  }
  .e-boxes-2,
  .e-boxes-3 {
    display: none;
  }

  .e-content-info {
    padding: 5rem 0rem;
  }

  .e-content-info p {
    padding: 2rem 2rem 2rem 0rem;
    text-align: justify;
  }

  .c-section {
    padding: 3rem 0rem;
  }
  .card-content {
    padding: 1rem;
  }

  .card-content h2 {
    font-size: 2rem;
    padding: 2rem 0rem;
  }
  .cd-content-section {
    flex-direction: column;
    gap: 2rem;
  }

  .cd,
  .cd-2 {
    padding: 4rem 5rem;
  }
  .cd-content button a,
  .card-content-2 button a {
    font-size: 1rem;
  }

  .contact-content {
    flex-direction: column;
    padding: 6rem 1rem;
  }
  .contact-left {
    padding: 0;
  }
  .contact-left {
    padding-bottom: 4rem;
  }
  .contact-left h3 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
    line-height: 40px;
}

  .contact-third-right img{
   
    height: 100%;
    width: 100%;
    padding-bottom: 4rem;
}
  

  .news-letter {
    flex-direction: column;
    gap: 0rem;
    padding: 3rem 1rem 2rem 1rem;
}

  .news-content h1 {
    font-size: 2.5rem;
  }

  .news-input {
    flex-direction: column;
  }

  .footer-content {
    padding: 0rem 2rem;
    flex-direction: column;
  }
  .footer-content {
    padding: 1rem;
    gap: 3rem;
  }
  .f-one p {
 
    padding: 1rem 0rem;
}
  .f-bottom {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .f-bottom p {
    padding: 1rem 0rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  header {
    justify-content: space-around;
    padding: 1rem;
    margin: 0;
  }
  .navbar {
    gap: 6rem;
  }
  ul.nav-item,
  .social-icons {
    display: none;
  }
  label.toggle {
    display: block;
    color: white;
    background-color: rgba(255, 255, 255, 0.1411764706);
    border-radius: 20px;
    padding: 0.4rem 0.7rem;
    font-size: 1rem;
  }

  .hero-content {
    flex-direction: column;
    padding: 8rem 1rem;
  }
  .left-one {

    width: auto;
  }
  .right-one {
    width: auto;
    padding-bottom: 8rem;
  }
  .left-content h1 {
    font-size: 2.9rem;
    line-height: 55px;
    margin: 0rem;
  }
  .buttons {
    margin: 1.5rem 0rem;
  }
  .transparent-text h1 {
    font-size: 5rem;
  }
  .right-one {
    width: auto;
    padding: 0;
  }

  .right-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0rem 1rem;
  }

  .second-section {
    padding: 4rem 1rem;
  }

  .second-content {
    padding: 2rem 1rem;
    flex-direction: column;
    margin-top: -9rem;
}

  .left-two img {
    display: none; 
  }

  .left-two-mobile img{
    display: block; 
  }
  .left-two-mobile img {
    height: 100%;
    width: 100%;
  }

.right-two{
  padding: 2rem 0rem 0rem 0rem;
}

.right-two h3 {
  font-size: 2rem;
  line-height: 40px;
  padding-right: 2rem;

}
.three-col{
  padding: 2rem 0rem 0rem 0rem ;
}
.branding {
  align-items: start;
  gap: 1rem;
}

.info h2 {
  margin: 0;
  font-size: 1.2rem;
  line-height: 25px;
}


  .third-section {
    padding: 0;
    margin: 0;
  }
  .third-content {
    padding: 1rem;
    flex-direction: column;
  }

  .third-left h6 {
    padding: 0;
  } 
  
  .third-left h3{
    padding: 1rem 0rem;
  }

  .bars {
    margin: 6rem 0rem;
    gap: 0.4rem;
}
  .third-left {
    padding: 0;
    width: 100%;
  }

  .third-right{
    padding: 1rem;
  }
  


  .fourth-content {
    gap: 1rem;
    padding: 3rem;
    padding: 5rem 1rem;
  }

  .fourth-content h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 40px;
  }

  button.contact {
    margin: 1rem 0rem;
  }

  .fifth-content {
    padding: 1rem;
  }

  .heading {
    display: block;
    padding-right: 2rem;
  }

  .heading h2 {
    font-size: 2.5rem;
    line-height: 45px;
    padding: 1rem 0rem;
  }

  .boxes {
    margin: 3rem 0rem;
  }
  .fifth-box {
    flex-direction: column;
  }

  .box-content-info h2 {
    font-size: 2rem;
    line-height: 40px;
    padding: 2rem 0rem;
  }

  .box-content-right1,
  .box-content-right2 {
    padding: 2rem;
    display: none;
  }

  .box-content img {
    width: 100%;
    height: 100%;
  }
  .box-content-right1 img {
    width: 100%;
    height: 100%;
  }

  .six-section {
    padding: 1rem;
  }

  .six-content {
    padding: 4rem 0rem;
    flex-direction: column;
  }

  .six-left h3 {
    font-size: 2.5rem;
    line-height: 45px;
    padding-bottom: 2rem;
  }
  .six-left {
    padding: 2rem 0rem;
  }
  .marketing {
    padding-bottom: 1rem;
    align-items: start;
  }

  .market p {
    font-size: 1rem;
  }

  .seven-content {
    flex-direction: column;
    padding: 5rem 1rem;
  }

  .seven-right {
    padding-top: 2rem;
  }
  .seven-right h3 {
    font-size: 2rem;
    line-height: 40px;
  }
  img.overlap {
 display:none;
  }

  .e-section {
    padding: 0;
  }
  .e-content {
    padding: 4rem 1rem;
  }

  .e-heading {
    gap: 2rem;
    display: block;
  }

  .e-heading h2 {
    font-size: 2rem;
    line-height: 45px;
    padding: 0;
    margin: 0;
  }

  button.e-view-all {
    margin: 2rem 0rem;
  }

  .e-boxes-1 {
    flex-direction: column;
  }
  .e-boxes-2,
  .e-boxes-3 {
    display: none;
  }

  .e-content-info {
    padding: 5rem 0rem;
  }

  .e-content-info p {
    padding: 2rem 2rem 2rem 0rem;
    text-align: justify;
  }

  .c-section {
    padding: 3rem 0rem;
  }
  .card-content {
    padding: 1rem;
  }

  .card-content h2 {
    font-size: 2rem;
    padding: 2rem 0rem;
  }
  .cd-content-section {
    flex-direction: column;
    gap: 2rem;
  }

  .cd,
  .cd-2 {
    padding: 4rem 5rem;
  }
  .cd-content button a,
  .card-content-2 button a {
    font-size: 1rem;
  }

  .contact-content {
    flex-direction: column;
    padding: 6rem 1rem;
  }
  .contact-left {
    padding: 0;
  }
  .contact-left {
    padding-bottom: 4rem;
  }
  .contact-left h3 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
    line-height: 40px;
}

  .contact-third-right img{
   
    height: 100%;
    width: 100%;
    padding-bottom: 4rem;
}
  

  .news-letter {
    flex-direction: column;
    gap: 0rem;
    padding: 3rem 1rem 2rem 1rem;
}

  .news-content h1 {
    font-size: 2.5rem;
  }

  .news-input {
    flex-direction: column;
  }

  .footer-content {
    padding: 0rem 2rem;
    flex-direction: column;
  }
  .footer-content {
    padding: 1rem;
    gap: 3rem;
  }
  .f-one p {
 
    padding: 1rem 0rem;
}
  .f-bottom {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .f-bottom p {
    padding: 1rem 0rem;
    text-align: center;
  }
}
